// Import any missing dependencies here

// Define your color palette
$primary-color: #4A9FFA;
$secondary-color: #F6ECDB;
$accent-color: #E6AC8B;
$background-color: #FFFBEF;
$text-color: rgb(30, 27, 27);
$light: #e6e6e6;
$dark: #865746;

@mixin theme {
  background-color: $background-color;
  color: $text-color;
}
  